section {
  .row4-articles {
   display: inline-flex;
  //  background-color: white;
    margin-top: 23px;
  }

 .article1 {
    display: inline-block;
    width: 110%;
    height: 22em;
    border-bottom: 5px solid #cacaca;
    background-color: white;
    margin-right: 1.5%;
    border-top: 5px solid #cacaca;
  }

 .article2 {
    display: inline-block;
    height: 22em;
    width: 110%;
    border-bottom: 5px solid #cacaca;
    background-color: white;
    margin-right: 1.5%;
    border-top: 5px solid #cacaca;
  }

 .article3 {
    display: inline-block;
    height: 22em;
    width: 110%;
    border-bottom: 5px solid #cacaca;
    background-color: white;
    margin-right: 1.5%;
    border-top: 5px solid #cacaca;
  }

.row4-articles span {
  color: #910000;
  text-align: center;
  right: -6em;
  top: -1em;
  }
}
  // div  {
  //  display: inline-block;
  //  width: 32%;
  //  border-radius: 3px;
  //  border: 1px solid #cacaca ;
  //
  //  }
