body {
  width: 100%;
 height: 100%;
 display: inline-block;
 margin:0 auto;
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('images/bg.jpg');
 background-size: cover;
// width: 100
//
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('images/bg.jpg'); no-repeat 90% 20% fixed;
//   background-size: cover;


#base {
    background: #910000;
    display: inline-block;
    height: 56px;
    margin-left: 20px;
    //margin-top: 55px;
    position: relative;
    width: 132px;
    bottom: -66em;
    div {
    color: #FFF;
    position: relative;
    font-size: 14px;
    top: 18px;
    left: 7px;
  }
}
  #base:before {
    border-bottom: 35px solid #910000;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    content: "";
    left: 120px;
    position: absolute;
    top: 11.1px;
    transform: rotate(90deg);
    }
  .page-container{
  margin-left: 190px;
  margin-right: 198px;
  }
}
