header {
  width: 100%;
  display: inline-block;
  // margin: 0 auto;
  padding: 0px;
  color: #FFF;
    .row1-navbar {
      display: inline-flex;
      width: 20%;
      height: 50%;
      padding: 10px;
      // margin: 0 auto;
    }

    .subscribe div {
      color: #FFF;
      float: right;
      // margin: -11px 48px;
      font-size: 16px;
    }

    .social-boxes {
      position: absolute;
      right: 13em;
      border-left: dotted #FFF 3px;

      .fa-facebook-square {
        color: #3b5998 ;
        }

      .fa-rss-square {
        color: #FA9B39;
        }

      .fa-twitter-square {
        color: #00aced
        }

      .fa-youtube-square {
        color: #b31217 ;
        }
    }

    .row2-tabs {
      width: 100%;
      // background-color: red;
      // border-bottom: #cacaca solid 2px;
      color: #FFF;
      display: inline-flex;
      width: 140%;
      display: inline-flex;
      margin: 37px 0 8px -2px;

      div {
        display: inline-block;
        text-align: center;
        width: 12%;
        height: 2em;
        background-color: #910000;
        border: #FFF solid 2px;
        // opacity: 1;
        padding-top: 1em;
        padding-left: 2.87em;
        padding-right: 1.37em;
        // margin: 5px;
        }

      h4 {
        //text-align: center;
        // border: #FFF solid 2px;
        // opacity: 1;
        // background-color: red;
        //text-align: center;
        // margin-right: 8px;
        // margin-left: 153px;
        // width: 12%;
        // height: 2em;
      }
    }
    .row3-slider-imgs {
      background-image: url(images/top-image.png);
      background-repeat: none;
      height: 312px;
      width: 875px;
      padding-left: 0px;
      border: solid #FFF 5px;
      background-position: 40% 25%;
    // .bottomimg img {
    //   // margin: 0px 193px;
    //   height: 338px;
    //   width: 875px;
      // padding-left: 0px;
      // border: solid #FFF 5px;
    // }
    .grid img {
      position: absolute;
      height: 307px;
      width: 882px;
      top: 9em;
      left: 12em;;
      padding-left: 0;
      z-index: 2;
      margin-left: -5px;
      opacity: .5;
    }
    .topimg img {
      position: relative;
      z-index: 2;
      top: 2em;
      left: 1em;
    }
  }
  // .3cirlces {
  //   border-radius: 50%;
  // 	width: 200px;
  // 	height: 200px;
  // }
}
